<launch>    
  <!--- Run AMCL -->
  <!-- <include file="$(find amcl)/examples/amcl_diff.launch" /> -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch" />
  <arg name="ns"  default="tb3_0"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="$(arg ns)/odom" />
  <arg name = "robot_base_frame" default = "$(arg ns)/base_footprint"/>

  <!-- Define your move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find multi_turtlebot_slam)/config/local_costmap_params_$(arg ns).yaml"  command="load" />
    <rosparam file="$(find multi_turtlebot_slam)/config/global_costmap_params_$(arg ns).yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_burger.yaml" command="load" />

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="robot_base_frame" to="$(arg robot_base_frame)"/>
    <remap from="/map" to="$(arg ns)/map"/>


    <!-- <remap from="map" to="$(arg ns_tb3)/map" /> -->
  </node>

  <!-- <group ns = "$(arg ns)">
    <include file="$(find turtlebot3_navigation)/launch/amcl.launch" />
  </group> -->

</launch>