<launch>
    <arg name="first_tb3"  default="tb3_0"/>
    <arg name="second_tb3" default="tb3_1"/>

    <!-- Open two tb in gazebo house -->
    <include file="$(find multi_turtlebot_slam)/launch/sim.launch"/>

    <!-- Open slam for each ns -->
    <include file = "$(find multi_turtlebot_slam)/launch/kailey_online_synch.launch">
        <arg name="ns"  value="$(arg first_tb3)"/>
    </include>

    <!-- <include file = "$(find multi_turtlebot_slam)/launch/kailey_online_synch.launch">
        <arg name="ns"  value="$(arg second_tb3)"/>
    </include> -->

    <!-- Open move_base for each ns -->
    <!-- <group ns = "$(arg first_tb3)">
        <include file="$(find multi_turtlebot_slam)/launch/kailey_move_base.launch">
            <arg name="ns"  value="$(arg first_tb3)"/>
        </include>
    </group> -->

        <!-- start the move_base, all the costmaps, cmd_vel and odom and DWA planner -->
    <group ns = "$(arg first_tb3)">    
        <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
            <arg name="model" value="burger" />
            <!-- <arg name="move_forward_only" value="$(arg move_forward_only)"/> -->
        </include>
    </group>


    <!-- Open rviz for two robots -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find multi_turtlebot_slam)/config/two_tb.rviz"/>

    <!-- Add the following transform to resolve map and namespace mismatch -->
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg first_tb3)_tf_broadcaster_base_f"  args="0 0 0 0 0 0 /$(arg first_tb3)/base_footprint /$(arg first_tb3)/$(arg first_tb3)/base_footprint 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg first_tb3)_tf_broadcaster_base_link"  args="0 0 0 0 0 0 /$(arg first_tb3)/base_link /$(arg first_tb3)/$(arg first_tb3)/base_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg first_tb3)_tf_broadcaster_left_wheel"  args="0 0 0 0 0 0 /$(arg first_tb3)/wheel_left_link /$(arg first_tb3)/$(arg first_tb3)/wheel_left_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg first_tb3)_tf_broadcaster_right_wheel"  args="0 0 0 0 0 0 /$(arg first_tb3)/wheel_right_link /$(arg first_tb3)/$(arg first_tb3)/wheel_right_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg first_tb3)_tf_broadcaster_scan"  args="0 0 0 0 0 0 /$(arg first_tb3)/base_scan /$(arg first_tb3)/$(arg first_tb3)/base_scan 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg first_tb3)_tf_broadcaster_caster"  args="0 0 0 0 0 0 /$(arg first_tb3)/caster_back_link /$(arg first_tb3)/$(arg first_tb3)/caster_back_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg first_tb3)_tf_broadcaster_imu"  args="0 0 0 0 0 0 /$(arg first_tb3)/imu_link /$(arg first_tb3)/$(arg first_tb3)/imu_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg first_tb3)_tf_broadcaster_map"  args="0 0 0 0 0 0 /$(arg first_tb3)/map /$(arg first_tb3)/$(arg first_tb3)/map 100"/>


    <node pkg="tf" type="static_transform_publisher" name="double_$(arg second_tb3)_tf_broadcaster_base_f"  args="0 0 0 0 0 0 /$(arg second_tb3)/base_footprint /$(arg second_tb3)/$(arg second_tb3)/base_footprint 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg second_tb3)_tf_broadcaster_base_link"  args="0 0 0 0 0 0 /$(arg second_tb3)/base_link /$(arg second_tb3)/$(arg second_tb3)/base_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg second_tb3)_tf_broadcaster_left_wheel"  args="0 0 0 0 0 0 /$(arg second_tb3)/wheel_left_link /$(arg second_tb3)/$(arg second_tb3)/wheel_left_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg second_tb3)_tf_broadcaster_right_wheel"  args="0 0 0 0 0 0 /$(arg second_tb3)/wheel_right_link /$(arg second_tb3)/$(arg second_tb3)/wheel_right_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg second_tb3)_tf_broadcaster_scan"  args="0 0 0 0 0 0 /$(arg second_tb3)/base_scan /$(arg second_tb3)/$(arg second_tb3)/base_scan 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg second_tb3)_tf_broadcaster_caster"  args="0 0 0 0 0 0 /$(arg second_tb3)/caster_back_link /$(arg second_tb3)/$(arg second_tb3)/caster_back_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg second_tb3)_tf_broadcaster_imu"  args="0 0 0 0 0 0 /$(arg second_tb3)/imu_link /$(arg second_tb3)/$(arg second_tb3)/imu_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="double_$(arg second_tb3)_tf_broadcaster_map"  args="0 0 0 0 0 0 /$(arg second_tb3)/map /$(arg second_tb3)/$(arg second_tb3)/map 100"/>

</launch>