<launch>

  <!-- Namespace -->
  <arg name="ns" default="tb3_0"/>

  <!-- Run slam_toolbox's online_synch node and remap the parameters to match the robot's namespaces -->
  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox_$(arg ns)" output="screen">
    <rosparam command="load" file="$(find multi_robot_exploration)/config/mapper_params_online_sync.yaml" />
    <param name="base_frame" value="$(arg ns)/base_footprint"/>
    <param name="odom_frame" value="$(arg ns)/odom"/>
    <param name="map_frame"  value="$(arg ns)/map"/>
    <remap from="/map" to="$(arg ns)/map"/>
    <remap from="/scan" to="$(arg ns)/scan"/>
    <remap from="/initialpose" to = "/initialpose_$(arg ns)"/>
  </node>

</launch>