<launch>

  <!-- Initial position for the first turtlebot -->
  <arg name="first_tb3_x_pos" default="-7.0"/> <!-- Between -7.0 and 7.0 -->
  <arg name="first_tb3_y_pos" default=" -1.0"/> <!-- Between -7.0 and 7.0 -->

  <!-- Initial position for the second turtlebot -->
  <arg name="second_tb3_x_pos" default=" 7.0"/> <!-- Between -7.0 and 7.0 -->
  <arg name="second_tb3_y_pos" default=" -1.0"/> <!-- Between -7.0 and 7.0 -->

  <!-- Combine the inital positions into one argument for spawning -->
  <arg name="init_pose_0" default="-x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z 0.0" />
  <arg name="init_pose_1" default="-x $(arg second_tb3_x_pos) -y $(arg second_tb3_y_pos) -z 0.0" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find multi_robot_exploration)/worlds/bookstore.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include> 

  <!-- Spawn tb3_0 and start it's robot descirption / robot state publisher -->
  <group ns="tb3_0">
    <param name="tf_prefix" value="tb3_0" />
    <include file="$(find multi_turtlebot_slam)/launch/tb3_0.launch" >
      <arg name="init_pose" value="$(arg init_pose_0)"/>
      <arg name="robot_name"  value="tb3_0" />
    </include>
  </group>

  <!-- Spawn tb3_1 and start it's robot descirption / robot state publisher -->
  <group ns="tb3_1">
    <param name="tf_prefix" value="tb3_1" />
    <include file="$(find multi_turtlebot_slam)/launch/tb3_1.launch" >
      <arg name="init_pose" value="$(arg init_pose_1)"/>
      <arg name="robot_name"  value="tb3_1" />
    </include>
  </group>

</launch>